---
import Hamburger from "./Hamburger.astro";
---

<div id="tc-header">
	<div id="tc-logo">
		<a href="/">
			<img src="/images/tc_logo1.svg" alt="" />
		</a>
	</div>
	<div id="hamburger">
		<Hamburger />
	</div>
</div>
