---

---

<nav id="tc-nav-sidebar" class="navbar navbar-default navbar-narrow">
  <div class="container-fluid">

    <!-- Nav links for toggling -->
    <div class="collapse navbar-collapse" id="collapsing-nav-bar">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Level one<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/tc_intro">Level 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_production">level two ... </a></li>
                    <li><a href="/articles/tc_bitcoin">level two</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Level one<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/tc_intro">Level 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_production">level two ... </a></li>
                    <li><a href="/articles/tc_bitcoin">level two</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Level one<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/tc_intro">Level 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_production">level two ... </a></li>
                    <li><a href="/articles/tc_bitcoin">level two</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" role="button">Level one<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/articles/tc_intro">Level 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/articles/tc_production">level two ... </a></li>
                    <li><a href="/articles/tc_bitcoin">level two</a></li>
                </ul>
            </li>
 
        </ul>

    </div>
  </div>
</nav>


 
