---

---

 

  <nav class="navbar navbar-default navbar-narrow">
      <div class="container-fluid">

          <!-- Enable mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-nav-bar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>

          <!-- Nav links for toggling -->
          <div class="collapse navbar-collapse" id="collapsing-nav-bar">
              <ul class="nav navbar-nav navbar-left">

                  <!--.\repos\tradecontrol.github.io\articles-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" role="button">Articles</a>
                      <ul class="dropdown-menu">
                          <!--tc_intro.md-->
                          <li>
                              <a href="/articles/tc_intro">Articles Overview</a>
                              <ul>
                                  <li><a href="/articles/tc_intro#technological-production">Technological Production</a>
                                  <li><a href="/articles/tc_intro#commercial-wallets">Commercial Wallets</a>
                                  <li><a href="/articles/tc_intro#company-accounts">Company Accounts</a>
                                  <li><a href="/articles/tc_intro#commercial-assets">Commercial Assets</a>
                                  <li><a href="/articles/tc_intro#capitalism">Capitalism</a>
                                  <li><a href="/articles/tc_intro#commerce">Commerce</a>
                              </ul>
                          </li>
                          <li class="divider">THEORY</li>
                          <!--tc_production.md-->
                          <li>
                              <a href="/articles/tc_production">Production Systems</a>
                              <ul>
                                  <li>
                                      <a href="/articles/tc_production#exchange">Exchange</a>
                                      <ul>
                                          <li><a href="/articles/tc_production#exchange-example">Exchange Example</a>
                                          <li><a href="/articles/tc_production#cash-polarity">Cash Polarity</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_production#workflow-">Workflow </a>
                                      <ul>
                                          <li><a href="/articles/tc_production#production">Production</a>
                                          <li>
                                              <a href="/articles/tc_production#assemblages">Assemblages</a>
                                              <ul>
                                                  <li><a href="/articles/tc_production#assemblage-definition">Assemblage Definition</a>
                                                  <li><a href="/articles/tc_production#object-structure">Object Structure</a>
                                                  <li><a href="/articles/tc_production#production-process">Production Process</a>
                                                  <li><a href="/articles/tc_production#production-environment">Production Environment</a>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="/articles/tc_production#materials">Materials</a>
                                              <ul>
                                                  <li><a href="/articles/tc_production#material-supply-loop">Material Supply Loop</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_production#components">Components</a>
                                      <ul>
                                          <li><a href="/articles/tc_production#component-definition">Component Definition</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_production#networks">Networks</a>
                                      <ul>
                                          <li>
                                              <a href="/articles/tc_production#consumption-networks">Consumption Networks</a>
                                              <ul>
                                                  <li><a href="/articles/tc_production#supply-and-demand">Supply and Demand</a>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="/articles/tc_production#production-networks">Production Networks</a>
                                              <ul>
                                                  <li><a href="/articles/tc_production#transformation">Transformation</a>
                                                  <li><a href="/articles/tc_production#tools">Tools</a>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="/articles/tc_production#technological-strata">Technological Strata</a>
                                              <ul>
                                                  <li><a href="/articles/tc_production#interfaces">Interfaces</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_production#organisations">Organisations</a>
                                      <ul>
                                          <li><a href="/articles/tc_production#namespaces">Namespaces</a>
                                          <li><a href="/articles/tc_production#organisation-structure">Organisation Structure</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_production#subjects-and-objects">Subjects and Objects</a>
                                      <ul>
                                          <li><a href="/articles/tc_production#interface-projection">Interface Projection</a>
                                          <li><a href="/articles/tc_production#life">Life</a>
                                      </ul>
                                  </li>
                                  <li><a href="/articles/tc_production#intelligence-test">Intelligence Test</a>
                              </ul>
                          </li>
                          <li class="divider">PRACTICE</li>
                          <!--tc_bitcoin.md-->
                          <li>
                              <a href="/articles/tc_bitcoin">Bitcoin as Unit of Account</a>
                              <ul>
                                  <li><a href="/articles/tc_bitcoin#commercial-wallets">Commercial Wallets</a>
                                  <li><a href="/articles/tc_bitcoin#ownership">Ownership</a>
                              </ul>
                          </li>
                          <!--tc_balance_sheet.md-->
                          <li>
                              <a href="/articles/tc_balance_sheet">Balance Sheets</a>
                              <ul>
                                  <li>
                                      <a href="/articles/tc_balance_sheet#purpose-and-method">Purpose and Method</a>
                                      <ul>
                                          <li><a href="/articles/tc_balance_sheet#double-entry-book-keeping">Double-Entry Book-Keeping</a>
                                          <li><a href="/articles/tc_balance_sheet#capital">Capital</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_balance_sheet#implementation">Implementation</a>
                                      <ul>
                                          <li><a href="/articles/tc_balance_sheet#asset-accounts">Asset Accounts</a>
                                          <li><a href="/articles/tc_balance_sheet#trade-v-asset-accounting">Trade v Asset Accounting</a>
                                          <li><a href="/articles/tc_balance_sheet#asset-charge">Asset Charge</a>
                                          <li>
                                              <a href="/articles/tc_balance_sheet#construction">Construction</a>
                                              <ul>
                                                  <li><a href="/articles/tc_balance_sheet#debtors-and-creditors">Debtors and Creditors</a>
                                                  <li><a href="/articles/tc_balance_sheet#bank-and-cash">Bank and Cash</a>
                                                  <li><a href="/articles/tc_balance_sheet#assets-and-liabilities">Assets and Liabilities</a>
                                                  <li><a href="/articles/tc_balance_sheet#tax">Tax</a>
                                                  <li><a href="/articles/tc_balance_sheet#the-balance-sheet">The Balance Sheet</a>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="/articles/tc_balance_sheet#correctness">Correctness</a>
                                              <ul>
                                                  <li><a href="/articles/tc_balance_sheet#cash-account-statement">Cash Account Statement</a>
                                                  <li><a href="/articles/tc_balance_sheet#organisation-statement">Organisation Statement</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--tc_profit_and_loss.md-->
                          <li>
                              <a href="/articles/tc_profit_and_loss">Profit and Loss</a>
                              <ul>
                                  <li><a href="/articles/tc_profit_and_loss#chartered-accounting">Chartered Accounting</a>
                                  <li>
                                      <a href="/articles/tc_profit_and_loss#double-entry-book-keeping">Double-Entry Book-Keeping</a>
                                      <ul>
                                          <li><a href="/articles/tc_profit_and_loss#business-entity">Business Entity</a>
                                          <li><a href="/articles/tc_profit_and_loss#incorporation">Incorporation</a>
                                          <li><a href="/articles/tc_profit_and_loss#debt">Debt</a>
                                          <li><a href="/articles/tc_profit_and_loss#capital-extraction">Capital Extraction</a>
                                      </ul>
                                  </li>
                                  <li><a href="/articles/tc_profit_and_loss#polarity-inversion">Polarity Inversion</a>
                                  <li><a href="/articles/tc_profit_and_loss#credere">Credere</a>
                              </ul>
                          </li>
                          <li class="divider">THE ECONOMY</li>
                          <!--tc_assets.md-->
                          <li>
                              <a href="/articles/tc_assets">Commercial Assets</a>
                              <ul>
                                  <li><a href="/articles/tc_assets#system-implementation">System Implementation</a>
                                  <li>
                                      <a href="/articles/tc_assets#capital-creation">Capital Creation</a>
                                      <ul>
                                          <li><a href="/articles/tc_assets#production-layer">Production Layer</a>
                                          <li><a href="/articles/tc_assets#recording-surface">Recording Surface</a>
                                          <li><a href="/articles/tc_assets#capital-layer">Capital Layer</a>
                                          <li><a href="/articles/tc_assets#asset-layer">Asset Layer</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_assets#revolution">Revolution</a>
                                      <ul>
                                          <li><a href="/articles/tc_assets#agriculture">Agriculture</a>
                                          <li><a href="/articles/tc_assets#industry">Industry</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_assets#abstraction">Abstraction</a>
                                      <ul>
                                          <li><a href="/articles/tc_assets#node-schema">Node Schema</a>
                                          <li><a href="/articles/tc_assets#unitary-interface-projection">Unitary Interface Projection</a>
                                          <li><a href="/articles/tc_assets#darwin's-square">Darwin's Square</a>
                                      </ul>
                                  </li>
                                  <li><a href="/articles/tc_assets#money">Money</a>
                                  <li>
                                      <a href="/articles/tc_assets#asset-implementation">Asset Implementation</a>
                                      <ul>
                                          <li><a href="/articles/tc_assets#financial-trading">Financial Trading</a>
                                          <li><a href="/articles/tc_assets#cadastral">Cadastral</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--tc_industrial_capitalism.md-->
                          <li>
                              <a href="/articles/tc_industrial_capitalism">Industrial Capitalism</a>
                              <ul>
                                  <li><a href="/articles/tc_industrial_capitalism#early-capitalism">Early Capitalism</a>
                                  <li><a href="/articles/tc_industrial_capitalism#price-discovery">Price Discovery</a>
                                  <li>
                                      <a href="/articles/tc_industrial_capitalism#consumer-price">Consumer Price</a>
                                      <ul>
                                          <li><a href="/articles/tc_industrial_capitalism#production-cost">Production Cost</a>
                                          <li><a href="/articles/tc_industrial_capitalism#cost-accounting">Cost Accounting</a>
                                          <li><a href="/articles/tc_industrial_capitalism#gestalt-costing">Gestalt Costing</a>
                                      </ul>
                                  </li>
                                  <li><a href="/articles/tc_industrial_capitalism#competition">Competition</a>
                                  <li>
                                      <a href="/articles/tc_industrial_capitalism#producer-price">Producer Price</a>
                                      <ul>
                                          <li><a href="/articles/tc_industrial_capitalism#growth">Growth</a>
                                          <li><a href="/articles/tc_industrial_capitalism#innovation">Innovation</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--tc_financial_capitalism.md-->
                          <li>
                              <a href="/articles/tc_financial_capitalism">Financial Capitalism</a>
                              <ul>
                                  <li><a href="/articles/tc_financial_capitalism#late-capitalism">Late Capitalism</a>
                                  <li><a href="/articles/tc_financial_capitalism#capital-debt">Capital Debt</a>
                                  <li><a href="/articles/tc_financial_capitalism#infinite-territory">Infinite Territory</a>
                                  <li><a href="/articles/tc_financial_capitalism#exodus">Exodus</a>
                              </ul>
                          </li>
                          <li class="divider">THE STATE</li>
                          <!--tc_commerce.md-->
                          <li>
                              <a href="/articles/tc_commerce">Commercial Law</a>
                              <ul>
                                  <li><a href="/articles/tc_commerce#primary-and-secondary-laws">Primary and Secondary Laws</a>
                                  <li>
                                      <a href="/articles/tc_commerce#tertiary-law">Tertiary Law</a>
                                      <ul>
                                          <li><a href="/articles/tc_commerce#tertiary-law-defined">Tertiary Law Defined</a>
                                          <li><a href="/articles/tc_commerce#tertiary-law-implementation">Tertiary Law Implementation</a>
                                          <li><a href="/articles/tc_commerce#tertiary-law-execution">Tertiary Law Execution</a>
                                      </ul>
                                  </li>
                                  <li><a href="/articles/tc_commerce#sovereignty">Sovereignty</a>
                                  <li>
                                      <a href="/articles/tc_commerce#wealth-and-power">Wealth and Power</a>
                                      <ul>
                                          <li><a href="/articles/tc_commerce#intellectual-property">Intellectual Property</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--tc_tax.md-->
                          <li>
                              <a href="/articles/tc_tax">Tax</a>
                              <ul>
                                  <li><a href="/articles/tc_tax#overview">Overview</a>
                                  <li>
                                      <a href="/articles/tc_tax#tax-example">Tax Example</a>
                                      <ul>
                                          <li><a href="/articles/tc_tax#tribute">Tribute</a>
                                          <li><a href="/articles/tc_tax#spatial-folding">Spatial Folding</a>
                                          <li><a href="/articles/tc_tax#scaling">Scaling</a>
                                          <li><a href="/articles/tc_tax#taxing-output">Taxing Output</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_tax#tax-schema">Tax Schema</a>
                                      <ul>
                                          <li><a href="/articles/tc_tax#types">Types</a>
                                          <li><a href="/articles/tc_tax#classification">Classification</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_tax#value-added-tax">Value Added Tax</a>
                                      <ul>
                                          <li><a href="/articles/tc_tax#taxing-supply-chains">Taxing Supply-Chains</a>
                                          <li><a href="/articles/tc_tax#vat-registration">Vat Registration</a>
                                          <li><a href="/articles/tc_tax#implementation">Implementation</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_tax#income-tax">Income Tax</a>
                                      <ul>
                                          <li><a href="/articles/tc_tax#taxing-employees">Taxing Employees</a>
                                          <li><a href="/articles/tc_tax#taxing-employers">Taxing Employers</a>
                                          <li><a href="/articles/tc_tax#implementation">Implementation</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/articles/tc_tax#corporation-tax">Corporation Tax</a>
                                      <ul>
                                          <li><a href="/articles/tc_tax#capital-profits">Capital Profits</a>
                                          <li><a href="/articles/tc_tax#implementation">Implementation</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>

                  <!--E:\company\trade control\apps\repos\tradecontrol.github.io\tutorials-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" role="button">Tutorials</a>
                      <ul class="dropdown-menu">
                          <!--overview.md-->
                          <li>
                              <a href="/tutorials/overview">Technical Documentation</a>
                              <ul>
                                  <li><a href="/tutorials/overview#installation">Installation</a>
                                  <li><a href="/tutorials/overview#user-guide">User Guide</a>
                                  <li><a href="/tutorials/overview#blockchain">Blockchain</a>
                                  <li><a href="/tutorials/overview#features">Features</a>
                              </ul>
                          </li>
                          <li class="divider">INSTALLATION</li>
                          <!--installing-sqlnode.md-->
                          <li>
                              <a href="/tutorials/installing-sqlnode">Installing a Trade Control node</a>
                              <ul>
                                  <li><a href="/tutorials/installing-sqlnode#sql-server">Sql Server</a>
                                  <li><a href="/tutorials/installing-sqlnode#database">Database</a>
                                  <li>
                                      <a href="/tutorials/installing-sqlnode#node-configurator">Node Configurator</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-sqlnode#connection">Connection</a>
                                          <li><a href="/tutorials/installing-sqlnode#business-details">Business Details</a>
                                          <li><a href="/tutorials/installing-sqlnode#add-users">Add Users</a>
                                          <li><a href="/tutorials/installing-sqlnode#basic-setup">Basic Setup</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/installing-sqlnode#tutorials">Tutorials</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-sqlnode#bom-tutorial">BOM Tutorial</a>
                                          <li><a href="/tutorials/installing-sqlnode#services-tutorial">Services Tutorial</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--installing-web.md-->
                          <li>
                              <a href="/tutorials/installing-web">Web Installation</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/installing-web#installation">Installation</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-web#web-hosting">Web Hosting</a>
                                          <li><a href="/tutorials/installing-web#cloud">Cloud</a>
                                          <li><a href="/tutorials/installing-web#website">Website</a>
                                          <li><a href="/tutorials/installing-web#intranet">Intranet</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/installing-web#instructions">Instructions</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-web#start-up">Start-up</a>
                                          <li><a href="/tutorials/installing-web#registrations">Registrations</a>
                                          <li><a href="/tutorials/installing-web#mail-host">Mail Host</a>
                                          <li><a href="/tutorials/installing-web#files">Files</a>
                                          <li><a href="/tutorials/installing-web#document-templates">Document Templates</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--installing-local.md-->
                          <li>
                              <a href="/tutorials/installing-local">Basic Single User Installation</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/installing-local#instructions">Instructions</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-local#service">Service</a>
                                          <li>
                                              <a href="/tutorials/installing-local#downloads">Downloads</a>
                                              <ul>
                                                  <li><a href="/tutorials/installing-local#environment">Environment</a>
                                                  <li><a href="/tutorials/installing-local#trade-control">Trade Control</a>
                                              </ul>
                                          </li>
                                          <li>
                                              <a href="/tutorials/installing-local#configuration">Configuration</a>
                                              <ul>
                                                  <li><a href="/tutorials/installing-local#sql-node">Sql Node</a>
                                                  <li><a href="/tutorials/installing-local#odbc-connection">ODBC Connection</a>
                                                  <li><a href="/tutorials/installing-local#office-client">Office Client</a>
                                                  <li><a href="/tutorials/installing-local#trade-statement">Trade Statement</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--installing-office.md-->
                          <li>
                              <a href="/tutorials/installing-office">Installing an Office 365 client</a>
                              <ul>
                                  <li><a href="/tutorials/installing-office#client">Client</a>
                                  <li>
                                      <a href="/tutorials/installing-office#installation">Installation</a>
                                      <ul>
                                          <li>
                                              <a href="/tutorials/installing-office#options">Options</a>
                                              <ul>
                                                  <li><a href="/tutorials/installing-office#native-version">Native Version</a>
                                                  <li><a href="/tutorials/installing-office#compiled-version">Compiled Version</a>
                                              </ul>
                                          </li>
                                          <li><a href="/tutorials/installing-office#connection">Connection</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/installing-office#azure-installation">Azure Installation</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-office#backend">Backend</a>
                                          <li><a href="/tutorials/installing-office#frontend">Frontend</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--installing-vsto.md-->
                          <li>
                              <a href="/tutorials/installing-vsto">Installing Office VSTO templates</a>
                              <ul>
                                  <li><a href="/tutorials/installing-vsto#cash-flow">Cash Flow</a>
                                  <li><a href="/tutorials/installing-vsto#templates">Templates</a>
                              </ul>
                          </li>
                          <!--installing-powerbi.md-->
                          <li>
                              <a href="/tutorials/installing-powerbi">Power BI template data</a>
                              <ul>
                                  <li><a href="/tutorials/installing-powerbi#overview">Overview</a>
                                  <li><a href="/tutorials/installing-powerbi#data">Data</a>
                                  <li>
                                      <a href="/tutorials/installing-powerbi#sample">Sample</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-powerbi#installation">Installation</a>
                                          <li><a href="/tutorials/installing-powerbi#script">Script</a>
                                          <li><a href="/tutorials/installing-powerbi#power-bi-desktop">Power BI Desktop</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li role="separator" class="divider"></li>
                          <!--installing-network.md-->
                          <li>
                              <a href="/tutorials/installing-network">Installing the Ethereum Network</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/installing-network#networks">Networks</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-network#test-environment">Test Environment</a>
                                          <li><a href="/tutorials/installing-network#public-network">Public Network</a>
                                          <li><a href="/tutorials/installing-network#dependencies">Dependencies</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/installing-network#setup">Setup</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-network#database">Database</a>
                                          <li><a href="/tutorials/installing-network#consortium">Consortium</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--installing-bitcoin.md-->
                          <li>
                              <a href="/tutorials/installing-bitcoin">Setting up a bitcoin wallet</a>
                              <ul>
                                  <li><a href="/tutorials/installing-bitcoin#preparation">Preparation</a>
                                  <li>
                                      <a href="/tutorials/installing-bitcoin#installation">Installation</a>
                                      <ul>
                                          <li><a href="/tutorials/installing-bitcoin#settings">Settings</a>
                                          <li><a href="/tutorials/installing-bitcoin#financial-unit">Financial Unit</a>
                                          <li><a href="/tutorials/installing-bitcoin#connection">Connection</a>
                                          <li>
                                              <a href="/tutorials/installing-bitcoin#wallet">Wallet</a>
                                              <ul>
                                                  <li><a href="/tutorials/installing-bitcoin#wallet-creation">Wallet Creation</a>
                                                  <li><a href="/tutorials/installing-bitcoin#keys">Keys</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="divider">Supply v Demand Accounts</li>
                          <!--cash-codes.md-->
                          <li>
                              <a href="/tutorials/cash-codes">Classifying Cash Transactions</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/cash-codes#cash-polarity">Cash Polarity</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-codes#advantages">Advantages</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-codes#categories-and-cash-codes">Categories and Cash Codes</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-codes#types">Types</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-codes#cash-totals">Cash Totals</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-codes#net-profit">Net Profit</a>
                                          <li><a href="/tutorials/cash-codes#vat">Vat</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-codes#cash-expressions">Cash Expressions</a>
                              </ul>
                          </li>
                          <li role="separator" class="divider"></li>
                          <!--cash-book.md-->
                          <li>
                              <a href="/tutorials/cash-book">Cash Book Accounting and Invoices </a>
                              <!--cash-book-365.md-->
                          <li>
                              <a href="/tutorials/cash-book-365">Accounts and Invoicing (365)</a>
                          <li>
                              <a href="/tutorials/cash-book-365#instructions">Instructions</a>
                              <ul>
                                  <li><a href="/tutorials/cash-book-365#requirement">Requirement</a>
                                  <li><a href="/tutorials/cash-book-365#initialisation">Initialisation</a>
                                  <li>
                                      <a href="/tutorials/cash-book-365#going-concerns">Going Concerns</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#opening-balance">Opening Balance</a>
                                          <li><a href="/tutorials/cash-book-365#classifying-transactions">Classifying Transactions</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-365#capital-injection">Capital Injection</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#share-capital">Share Capital</a>
                                          <li><a href="/tutorials/cash-book-365#directors-loan">Directors Loan</a>
                                          <li><a href="/tutorials/cash-book-365#reserves">Reserves</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-book-365#review">Review</a>
                                  <li>
                                      <a href="/tutorials/cash-book-365#invoicing">Invoicing</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#raising-invoices">Raising Invoices</a>
                                          <li><a href="/tutorials/cash-book-365#emailing-invoices">Emailing Invoices</a>
                                          <li><a href="/tutorials/cash-book-365#invoice-register">Invoice Register</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-365#money">Money</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#miscellaneous-payments">Miscellaneous Payments</a>
                                          <li><a href="/tutorials/cash-book-365#paying-invoices">Paying invoices</a>
                                          <li><a href="/tutorials/cash-book-365#account-transfers">Account Transfers</a>
                                          <li><a href="/tutorials/cash-book-365#crediting-accounts">Crediting Accounts</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-book-365#period-end">Period End</a>
                                  <li><a href="/tutorials/cash-book-365#finalised-accounts">Finalised Accounts</a>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/cash-book-365#cash-book-information">Cash Book Information</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/cash-book-365#organisations">Organisations</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#organisation-maintenance">Organisation Maintenance</a>
                                          <li><a href="/tutorials/cash-book-365#organisation-enquiry">Organisation Enquiry</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-365#trade-statement">Trade Statement</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#budgeting">Budgeting</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-365#tax">Tax</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#settings">Settings</a>
                                          <li><a href="/tutorials/cash-book-365#tax-rates">Tax Rates</a>
                                          <li><a href="/tutorials/cash-book-365#tax-statements">Tax Statements</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-365#maintenance-">Maintenance </a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-365#cash-accounts">Cash Accounts</a>
                                          <li><a href="/tutorials/cash-book-365#cash-statement">Cash Statement</a>
                                          <li><a href="/tutorials/cash-book-365#cash-codes">Cash Codes</a>
                                          <li><a href="/tutorials/cash-book-365#administration">Administration</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-book-365#balance-sheets">Balance Sheets</a>
                              </ul>
                          </li>
                          <!--cash-book-web.md-->
                          <li>
                              <a href="/tutorials/cash-book-web">Accounts and Invoicing (Web)</a>
                          <li>
                              <a href="/tutorials/cash-book-web#instructions">Instructions</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/cash-book-web#requirement">Requirement</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#setup">Setup</a>
                                          <li><a href="/tutorials/cash-book-web#theory">Theory</a>
                                          <li><a href="/tutorials/cash-book-web#interface">Interface</a>
                                          <li><a href="/tutorials/cash-book-web#transaction-dates">Transaction Dates</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#going-concerns">Going Concerns</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#opening-balance">Opening Balance</a>
                                          <li><a href="/tutorials/cash-book-web#classifying-transactions">Classifying Transactions</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#capital-injection">Capital Injection</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#share-capital">Share Capital</a>
                                          <li><a href="/tutorials/cash-book-web#director-loan">Director Loan</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#account-transfers">Account Transfers</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#review-1">Review 1</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#invoicing">Invoicing</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#raising-invoices">Raising Invoices</a>
                                          <li><a href="/tutorials/cash-book-web#emailing-invoices">Emailing Invoices</a>
                                          <li><a href="/tutorials/cash-book-web#review-2">Review 2</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#money">Money</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#miscellaneous-payments">Miscellaneous Payments</a>
                                          <li><a href="/tutorials/cash-book-web#paying-invoices">Paying Invoices</a>
                                          <li><a href="/tutorials/cash-book-web#review-3">Review 3</a>
                                          <li><a href="/tutorials/cash-book-web#crediting-accounts">Crediting Accounts</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-book-web#period-end">Period End</a>
                                  <li>
                                      <a href="/tutorials/cash-book-web#finalised-accounts">Finalised Accounts</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#error-checking">Error Checking</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/cash-book-web#cash-book-information">Cash Book Information</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/cash-book-web#organisations">Organisations</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#organisation-maintenance">Organisation Maintenance</a>
                                          <li><a href="/tutorials/cash-book-web#organisation-enquiry">Organisation Enquiry</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#tax">Tax</a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#settings">Settings</a>
                                          <li><a href="/tutorials/cash-book-web#tax-rates">Tax Rates</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/cash-book-web#maintenance-">Maintenance </a>
                                      <ul>
                                          <li><a href="/tutorials/cash-book-web#cash-accounts">Cash Accounts</a>
                                          <li><a href="/tutorials/cash-book-web#cash-statement">Cash Statement</a>
                                          <li><a href="/tutorials/cash-book-web#cash-codes">Cash Codes</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/cash-book-web#advanced">Advanced</a>
                              </ul>
                          </li>
                          <li role="separator" class="divider"></li>
                          <!--balance-sheet.md-->
                          <li>
                              <a href="/tutorials/balance-sheet">Generating a Balance Sheet</a>
                              <!--balance-sheet-web.md-->
                          <li>
                              <a href="/tutorials/balance-sheet-web">Generating a Balance Sheet (Web)</a>
                          <li>
                              <a href="/tutorials/balance-sheet-web#instructions">Instructions</a>
                              <ul>
                                  <li><a href="/tutorials/balance-sheet-web#basic-accounts">Basic Accounts</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-web#configuration">Configuration</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-web#cash-codes">Cash Codes</a>
                                          <li><a href="/tutorials/balance-sheet-web#cash-accounts">Cash Accounts</a>
                                          <li><a href="/tutorials/balance-sheet-web#assets-and-liabilities">Assets and Liabilities</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/balance-sheet-web#asset-entry">Asset Entry</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-web#current-assets">Current Assets</a>
                                          <li><a href="/tutorials/balance-sheet-web#fixed-assets">Fixed Assets</a>
                                          <li><a href="/tutorials/balance-sheet-web#long-term-liabilities">Long-term Liabilities</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-web#review-4">Review 4</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-web#cash-box">Cash Box</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-web#cash-box-operation">Cash Box Operation</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/balance-sheet-web#review-5">Review 5</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-web#balance-sheet">Balance Sheet</a>
                                          <li><a href="/tutorials/balance-sheet-web#profit-and-loss-account">Profit and Loss Account</a>
                                          <li><a href="/tutorials/balance-sheet-web#company-tax-totals">Company Tax Totals</a>
                                          <li><a href="/tutorials/balance-sheet-web#cash-code-and-category-totals">Cash Code and Category Totals</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/balance-sheet-web#tax">Tax</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-web#vat">VAT</a>
                                          <li><a href="/tutorials/balance-sheet-web#company-tax">Company Tax</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-web#filing">Filing</a>
                              </ul>
                          </li>
                          <!--balance-sheet-365.md-->
                          <li>
                              <a href="/tutorials/balance-sheet-365">Generating a Balance Sheet (365)</a>
                          <li>
                              <a href="/tutorials/balance-sheet-365#instructions">Instructions</a>
                              <ul>
                                  <li><a href="/tutorials/balance-sheet-365#requirement">Requirement</a>
                                  <li><a href="/tutorials/balance-sheet-365#data">Data</a>
                                  <li><a href="/tutorials/balance-sheet-365#basic-accounts">Basic Accounts</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#configuration">Configuration</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#cash-codes">Cash Codes</a>
                                          <li><a href="/tutorials/balance-sheet-365#cash-accounts">Cash Accounts</a>
                                          <li><a href="/tutorials/balance-sheet-365#assets-and-liabilities">Assets and Liabilities</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#asset-entry">Asset Entry</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#current-assets">Current Assets</a>
                                          <li><a href="/tutorials/balance-sheet-365#fixed-assets">Fixed Assets</a>
                                          <li><a href="/tutorials/balance-sheet-365#long-term-liabilities">Long-term Liabilities</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-365#accounts-review">Accounts Review</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#cash-box">Cash Box</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#cash-box-operation">Cash Box Operation</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-365#profit-and-loss">Profit and Loss</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#accruals-and-prepayments">Accruals and Prepayments</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#problem--">Problem  </a>
                                          <li>
                                              <a href="/tutorials/balance-sheet-365#solution">Solution</a>
                                              <ul>
                                                  <li><a href="/tutorials/balance-sheet-365#create-project">Create Project</a>
                                                  <li><a href="/tutorials/balance-sheet-365#accrue-liability">Accrue Liability</a>
                                                  <li><a href="/tutorials/balance-sheet-365#invoice-and-payment">Invoice and Payment</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/balance-sheet-365#information">Information</a>
                              <ul>
                                  <li><a href="/tutorials/balance-sheet-365#cash-statement">Cash Statement</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#tax">Tax</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#vat">VAT</a>
                                          <li><a href="/tutorials/balance-sheet-365#corporation-tax">Corporation Tax</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-365#audit">Audit</a>
                                  <li>
                                      <a href="/tutorials/balance-sheet-365#modifying-capital">Modifying Capital</a>
                                      <ul>
                                          <li><a href="/tutorials/balance-sheet-365#going-concerns">Going Concerns</a>
                                          <li><a href="/tutorials/balance-sheet-365#intangible-assets">Intangible Assets</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/balance-sheet-365#trade-statement">Trade Statement</a>
                                  <li><a href="/tutorials/balance-sheet-365#filing">Filing</a>
                              </ul>
                          </li>
                          <!--accounts-filing.md-->
                          <li>
                              <a href="/tutorials/accounts-filing">Filing Company Accounts</a>
                              <ul>
                                  <li><a href="/tutorials/accounts-filing#make-tax-digital">Make Tax Digital</a>
                                  <li>
                                      <a href="/tutorials/accounts-filing#government-gateway">Government Gateway</a>
                                      <ul>
                                          <li><a href="/tutorials/accounts-filing#companies-house">Companies House</a>
                                          <li><a href="/tutorials/accounts-filing#tax-services">Tax Services</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/accounts-filing#company-tax-return">Company Tax Return</a>
                                  <li><a href="/tutorials/accounts-filing#company-accounts">Company Accounts</a>
                                  <li>
                                      <a href="/tutorials/accounts-filing#corporation-tax">Corporation Tax</a>
                                      <ul>
                                          <li><a href="/tutorials/accounts-filing#losses-carried-forward">Losses Carried Forward</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/accounts-filing#submission">Submission</a>
                              </ul>
                          </li>
                          <!--digital-tax.md-->
                          <li>
                              <a href="/tutorials/digital-tax">UK Vat Online</a>
                              <ul>
                                  <li><a href="/tutorials/digital-tax#installation">Installation</a>
                                  <li><a href="/tutorials/digital-tax#instructions">Instructions</a>
                              </ul>
                          </li>
                          <li class="divider">BLOCKCHAIN</li>
                          <!--bitcoin_overview.md-->
                          <li>
                              <a href="/tutorials/bitcoin_overview">Trading with a commercial bitcoin wallet</a>
                              <ul>
                                  <li><a href="/tutorials/bitcoin_overview#documentation">Documentation</a>
                                  <li><a href="/tutorials/bitcoin_overview#commerce">Commerce</a>
                                  <li><a href="/tutorials/bitcoin_overview#wallet">Wallet</a>
                              </ul>
                          </li>
                          <!--bitcoin.md-->
                          <li>
                              <a href="/tutorials/bitcoin">Using bitcoin as a UOA</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/bitcoin#supply-chain">Supply Chain</a>
                                      <ul>
                                          <li><a href="/tutorials/bitcoin#delivery">Delivery</a>
                                          <li><a href="/tutorials/bitcoin#funding">Funding</a>
                                          <li><a href="/tutorials/bitcoin#coin-transfers">Coin Transfers</a>
                                          <li>
                                              <a href="/tutorials/bitcoin#payment">Payment</a>
                                              <ul>
                                                  <li><a href="/tutorials/bitcoin#retail-to-secondary-industry">Retail to Secondary Industry</a>
                                                  <li><a href="/tutorials/bitcoin#secondary-to-primary-industry">Secondary to Primary Industry</a>
                                                  <li><a href="/tutorials/bitcoin#repeat-ordering">Repeat Ordering</a>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/bitcoin#miscellaneous-payment">Miscellaneous Payment</a>
                                  <li><a href="/tutorials/bitcoin#production">Production</a>
                              </ul>
                          </li>
                          <!--network.md-->
                          <li>
                              <a href="/tutorials/network">Connecting Trade Control nodes</a>
                              <ul>
                                  <li><a href="/tutorials/network#activity-mirroring">Activity Mirroring</a>
                                  <li><a href="/tutorials/network#network-transactions">Network Transactions</a>
                                  <li><a href="/tutorials/network#events-and-transmissions">Events and Transmissions</a>
                                  <li>
                                      <a href="/tutorials/network#payment">Payment</a>
                                      <ul>
                                          <li><a href="/tutorials/network#by-fiat">By Fiat</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/network#credits-and-returns">Credits and Returns</a>
                                  <li><a href="/tutorials/network#quotations">Quotations</a>
                                  <li><a href="/tutorials/network#finally">Finally</a>
                              </ul>
                          </li>
                          <!--network_overview.md-->
                          <li>
                              <a href="/tutorials/network_overview">Trading Network</a>
                              <ul>
                                  <li><a href="/tutorials/network_overview#documentation">Documentation</a>
                                  <li><a href="/tutorials/network_overview#supply-chains">Supply Chains</a>
                                  <li><a href="/tutorials/network_overview#software-network">Software Network</a>
                                  <li><a href="/tutorials/network_overview#currency">Currency</a>
                              </ul>
                          </li>
                          <li class="divider">TUTORIALS</li>
                          <!--manufacturing.md-->
                          <li>
                              <a href="/tutorials/manufacturing">Modelling Bills of Materials</a>
                              <ul>
                                  <li><a href="/tutorials/manufacturing#work-specification">Work Specification</a>
                                  <li><a href="/tutorials/manufacturing#order-processing">Order Processing</a>
                                  <li><a href="/tutorials/manufacturing#invoices-and-payments">Invoices and Payments</a>
                                  <li><a href="/tutorials/manufacturing#project-management">Project Management</a>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/manufacturing#instructions">Instructions</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/manufacturing#bom-specification">BoM Specification</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#project-view">Project View</a>
                                          <li><a href="/tutorials/manufacturing#workflow">Workflow</a>
                                          <li><a href="/tutorials/manufacturing#operations">Operations</a>
                                          <li><a href="/tutorials/manufacturing#attributes">Attributes</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/manufacturing#order-processing">Order Processing</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#project-schedule">Project Schedule</a>
                                          <li><a href="/tutorials/manufacturing#task-editing">Task Editing</a>
                                          <li><a href="/tutorials/manufacturing#company-statement">Company Statement</a>
                                          <li>
                                              <a href="/tutorials/manufacturing#job-costing">Job Costing</a>
                                              <ul>
                                                  <li><a href="/tutorials/manufacturing#job-profit">Job Profit</a>
                                                  <li><a href="/tutorials/manufacturing#pricing-and-scheduling">Pricing and Scheduling</a>
                                              </ul>
                                          </li>
                                          <li><a href="/tutorials/manufacturing#cash-flow">Cash Flow</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/manufacturing#invoicing">Invoicing</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#invoice-register">Invoice Register</a>
                                          <li><a href="/tutorials/manufacturing#status-and-performance">Status and Performance</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/manufacturing#payments">Payments</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#organisation-statement">Organisation Statement</a>
                                          <li><a href="/tutorials/manufacturing#payment-system">Payment System</a>
                                          <li><a href="/tutorials/manufacturing#cash-statement">Cash Statement</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/manufacturing#project-management">Project Management</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#task-explorer">Task Explorer</a>
                                          <li><a href="/tutorials/manufacturing#document-manager">Document Manager</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/manufacturing#a-few-other-things-to-try-out...">A few other things to try out...</a>
                                      <ul>
                                          <li><a href="/tutorials/manufacturing#supply-chains">Supply-Chains</a>
                                          <li><a href="/tutorials/manufacturing#bitcoin">Bitcoin</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <!--services.md-->
                          <li>
                              <a href="/tutorials/services">Services Tutorial</a>
                              <ul>
                                  <li><a href="/tutorials/services#overview">Overview</a>
                                  <li><a href="/tutorials/services#home-page">Home Page</a>
                                  <li><a href="/tutorials/services#task-explorer">Task Explorer</a>
                                  <li><a href="/tutorials/services#creating-a-new-task">Creating a New Task</a>
                                  <li><a href="/tutorials/services#edit-task">Edit Task</a>
                                  <li>
                                      <a href="/tutorials/services#additional-features">Additional Features</a>
                                      <ul>
                                          <li><a href="/tutorials/services#attributes">Attributes</a>
                                          <li><a href="/tutorials/services#operations">Operations</a>
                                          <li><a href="/tutorials/services#task-workflow">Task Workflow</a>
                                          <li><a href="/tutorials/services#quote">Quote</a>
                                          <li><a href="/tutorials/services#task-documents">Task Documents</a>
                                          <li><a href="/tutorials/services#task-invoices">Task Invoices</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/services#workflow">Workflow</a>
                                      <ul>
                                          <li><a href="/tutorials/services#document-manager">Document Manager</a>
                                          <li><a href="/tutorials/services#expenses">Expenses</a>
                                          <li><a href="/tutorials/services#network-allocations-and-invoicing">Network Allocations and Invoicing</a>
                                          <li><a href="/tutorials/services#payment-entry">Payment Entry</a>
                                          <li><a href="/tutorials/services#raise-invoices">Raise Invoices</a>
                                          <li><a href="/tutorials/services#transfers">Transfers</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/services#system-settings">System Settings</a>
                                  <li>
                                      <a href="/tutorials/services#administration">Administration</a>
                                      <ul>
                                          <li><a href="/tutorials/services#company">Company</a>
                                          <li><a href="/tutorials/services#users">Users</a>
                                          <li><a href="/tutorials/services#period-end">Period End</a>
                                          <li><a href="/tutorials/services#tax">Tax</a>
                                          <li><a href="/tutorials/services#documents">Documents</a>
                                          <li><a href="/tutorials/services#time-buckets">Time Buckets</a>
                                          <li><a href="/tutorials/services#menu-system">Menu System</a>
                                          <li><a href="/tutorials/services#event-log/task-log/invoice-log">Event Log/Task Log/Invoice Log</a>
                                      </ul>
                                  </li>
                                  <li>
                                      <a href="/tutorials/services#definitions">Definitions</a>
                                      <ul>
                                          <li><a href="/tutorials/services#lookup-data">Lookup Data</a>
                                          <li><a href="/tutorials/services#tax-codes">Tax Codes</a>
                                          <li><a href="/tutorials/services#organisation-types">Organisation Types</a>
                                          <li><a href="/tutorials/services#unit-of-measure-">Unit of Measure </a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/services#calendar">Calendar</a>
                                  <li>
                                      <a href="/tutorials/services#cash-accounts">Cash Accounts</a>
                                      <ul>
                                          <li><a href="/tutorials/services#cash-categories">Cash Categories</a>
                                          <li><a href="/tutorials/services#cash-codes">Cash Codes</a>
                                          <li><a href="/tutorials/services#cash-totals">Cash Totals</a>
                                          <li><a href="/tutorials/services#totals-and-expressions">Totals and Expressions</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/tutorials/services#sql-connect">SQL Connect</a>
                          <li>
                              <a href="/tutorials/services#maintenance">Maintenance</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/services#activities">Activities</a>
                                      <ul>
                                          <li><a href="/tutorials/services#details">Details</a>
                                          <li><a href="/tutorials/services#attributes">Attributes</a>
                                          <li><a href="/tutorials/services#operations">Operations</a>
                                          <li><a href="/tutorials/services#work-flow">Work Flow</a>
                                          <li><a href="/tutorials/services#project">Project</a>
                                          <li><a href="/tutorials/services#mirrors">Mirrors</a>
                                      </ul>
                                  </li>
                                  <li><a href="/tutorials/services#assets">Assets</a>
                                  <li><a href="/tutorials/services#budget">Budget</a>
                                  <li><a href="/tutorials/services#organisation-datasheet">Organisation Datasheet</a>
                                  <li>
                                      <a href="/tutorials/services#organisations">Organisations</a>
                                      <ul>
                                          <li><a href="/tutorials/services#details">Details</a>
                                          <li><a href="/tutorials/services#extended">Extended</a>
                                          <li><a href="/tutorials/services#addresses">Addresses</a>
                                          <li><a href="/tutorials/services#contacts-">Contacts </a>
                                          <li><a href="/tutorials/services#documents">Documents</a>
                                          <li><a href="/tutorials/services#cash-accounts">Cash Accounts</a>
                                          <li><a href="/tutorials/services#allocations-/-cash-codes">Allocations / Cash Codes</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li><a href="/tutorials/services#information">Information</a>
                          <li>
                              <a href="/tutorials/services#audit-reports">Audit Reports</a>
                              <ul>
                                  <li><a href="/tutorials/services#balance-sheet-audit">Balance Sheet Audit</a>
                                  <li><a href="/tutorials/services#corporation-tax-accruals">Corporation Tax Accruals</a>
                                  <li><a href="/tutorials/services#vat-accruals">VAT Accruals</a>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/services#cash-statements">Cash Statements</a>
                              <ul>
                                  <li><a href="/tutorials/services#cash-statement---edit">Cash Statement - Edit</a>
                                  <li><a href="/tutorials/services#cash-statement---move">Cash Statement - Move</a>
                                  <li><a href="/tutorials/services#cash-statement---pay">Cash Statement - Pay</a>
                                  <li><a href="/tutorials/services#cash-statement---rebuild">Cash Statement - Rebuild</a>
                                  <li><a href="/tutorials/services#financial-year">Financial Year</a>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/services#company-statement">Company Statement</a>
                              <ul>
                                  <li><a href="/tutorials/services#company-statement---edit">Company Statement - Edit</a>
                                  <li><a href="/tutorials/services#company-statement---payment">Company Statement - Payment</a>
                                  <li><a href="/tutorials/services#company-statement---reschedule">Company Statement - Reschedule</a>
                                  <li><a href="/tutorials/services#company-statement---org-enquiry">Company Statement - Org Enquiry</a>
                                  <li><a href="/tutorials/services#company-statement---org-edit">Company Statement - Org Edit</a>
                              </ul>
                          </li>
                          <li><a href="/tutorials/services#data-warehouse">Data Warehouse</a>
                          <li>
                              <a href="/tutorials/services#invoice-register">Invoice Register</a>
                              <ul>
                                  <li><a href="/tutorials/services#sales-invoices">Sales Invoices</a>
                                  <li><a href="/tutorials/services#sales-items">Sales Items</a>
                                  <li><a href="/tutorials/services#purchase-invoices">Purchase Invoices</a>
                                  <li><a href="/tutorials/services#purchase-items">Purchase Items</a>
                                  <li><a href="/tutorials/services#cash-codes">Cash Codes</a>
                                  <li><a href="/tutorials/services#vat-detail">VAT Detail</a>
                                  <li><a href="/tutorials/services#vat-totals">VAT Totals</a>
                                  <li><a href="/tutorials/services#corporation-tax">Corporation Tax</a>
                                  <li><a href="/tutorials/services#unpaid-sales">Unpaid Sales</a>
                                  <li><a href="/tutorials/services#unpaid-purchases">Unpaid Purchases</a>
                                  <li><a href="/tutorials/services#expenses">Expenses</a>
                              </ul>
                          </li>
                          <li><a href="/tutorials/services#job-profit-status-by-month">Job Profit Status by Month</a>
                          <li>
                              <a href="/tutorials/services#organisation-enquiry">Organisation Enquiry</a>
                              <ul>
                                  <li><a href="/tutorials/services#org-enquiry---details">Org Enquiry - Details</a>
                                  <li><a href="/tutorials/services#org-enquiry---payments">Org Enquiry - Payments</a>
                                  <li><a href="/tutorials/services#org-enquiry---statement">Org Enquiry - Statement</a>
                                  <li><a href="/tutorials/services#org-enquiry---tasks">Org Enquiry - Tasks</a>
                                  <li><a href="/tutorials/services#org-enquiry---sales-orders">Org Enquiry - Sales Orders</a>
                                  <li><a href="/tutorials/services#org-enquiry---sales-invoices">Org Enquiry - Sales Invoices</a>
                                  <li><a href="/tutorials/services#org-enquiry---purchase-orders">Org Enquiry - Purchase Orders</a>
                                  <li><a href="/tutorials/services#org-enquiry---purchase-invoices">Org Enquiry - Purchase Invoices</a>
                                  <li><a href="/tutorials/services#org-enquiry---item-invoices">Org Enquiry - Item Invoices</a>
                              </ul>
                          </li>
                          <li>
                              <a href="/tutorials/services#status-graphs">Status Graphs</a>
                          </li>
                          <li>
                              <a href="/tutorials/services#install-options">Install Options</a>
                          </li>
                          <li class="divider">REPORTING</li>
                          <!--powerbi.md-->
                          <li>
                              <a href="/tutorials/powerbi">Business Intelligence with Power BI</a>
                              <ul>
                                  <li>
                                      <a href="/tutorials/powerbi#template">Template</a>
                                      <ul>
                                          <li><a href="/tutorials/powerbi#finance">Finance</a>
                                          <li><a href="/tutorials/powerbi#statements">Statements</a>
                                          <li><a href="/tutorials/powerbi#sales-analysis">Sales Analysis</a>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="divider">SALES</li>
                          <!--pricelists.md-->
                          <li>
                              <a href="/tutorials/pricelists">Generating XML Price Lists</a>
                              <ul>
                                  <li><a href="/tutorials/pricelists#installation">Installation</a>
                                  <li><a href="/tutorials/pricelists#xml-file">XML File</a>
                                  <li><a href="/tutorials/pricelists#new-price-list">New Price List</a>
                                  <li><a href="/tutorials/pricelists#products">Products</a>
                                  <li><a href="/tutorials/pricelists#extras-and-quantities">Extras and Quantities</a>
                                  <li><a href="/tutorials/pricelists#prices">Prices</a>
                                  <li><a href="/tutorials/pricelists#distribution">Distribution</a>
                              </ul>
                          </li>
                          <!--quotations.md-->
                          <li>
                              <a href="/tutorials/quotations">Quotations from XML Price Lists</a>
                              <ul>
                                  <li><a href="/tutorials/quotations#installation">Installation</a>
                                  <li><a href="/tutorials/quotations#opening-the-price-list">Opening the Price List</a>
                                  <li><a href="/tutorials/quotations#quotations">Quotations</a>
                              </ul>
                          </li>
                          <!--quotations_overview.md-->
                          <li>
                              <a href="/tutorials/quotations_overview">XML Price Lists for Customer Quotations </a>
                              <ul>
                                  <li><a href="/tutorials/quotations_overview#documentation">Documentation</a>
                                  <li><a href="/tutorials/quotations_overview#features">Features</a>
                                  <li><a href="/tutorials/quotations_overview#quotations">Quotations</a>
                                  <li><a href="/tutorials/quotations_overview#price-lists">Price Lists</a>
                              </ul>
                          </li>
                      </ul>
                  </li>

                  <!--.\repos\tradecontrol.github.io\dev-->
                  <li class="dropdown">
                      <a data-toggle="dropdown" role="button">Developments</a>
                      <ul class="dropdown-menu">
                          <li><a href="/dev/index#asp.net-core-web-app">ASP.NET Core Web App</a>
                          <li><a href="/dev/index#mtd-government-services">MTD Government Services</a>
                          <li><a href="/dev/index#networking">Networking</a>
                          <li><a href="/dev/index#bitcoin-side-chaining">Bitcoin Side-chaining</a>
                          <li><a href="/dev/index#free-software">Free Software</a>
                      </ul>
                  </li>

              </ul>

          </div>
      </div>
  </nav>

 


 